<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MyFileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <MyFileManager.Properties.Settings>
            <setting name="MainDarkBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DefaultForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MainFormSpliterDistance" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="WcolumnHeader1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WcolumnHeader2" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WcolumnHeader3" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WcolumnHeader4" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PoleWyborutsmiView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainStatusbar" serializeAs="String">
                <value>True</value>
            </setting>
        </MyFileManager.Properties.Settings>
    </userSettings>
</configuration>
